body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}

.content {
    padding: 0.938rem;
    /* min-width: 37.5rem; */

.top-navigation > .content {
    width: 970px; 
    height: 4.375rem; 
    margin: 0 auto;
}

.logo {
    height: 4.375rem;
    box-sizing: border-box;
}

